.path-mod-studentattendance .custom-select {
    min-width: 120px;
    font-size: 0.9em;
}

.path-mod-studentattendance .generaltable {
    font-size: 0.95em;
}

.path-mod-studentattendance .generaltable td {
    text-align: center;
    vertical-align: middle;
}

.path-mod-studentattendance .generaltable td:first-child {
    text-align: left;
    font-weight: bold;
}